{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
<!-- {% csrf_token %} -->
{% crispy form %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" >Back to Blog</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>
            <strong>{{post.author}} </strong>{{post.timeStamp}}
            {% if request.user == post.author %}
            <a href="{% url 'post-edit' post.pk %}" style="color: crimson;"><i class="far fa-edit"></i></a>
            <a href="{% url 'post-delete' post.pk %}" style="color: crimson;"><i class="fas fa-trash"></i></a>
            {% endif %}
            </p>
            <p><strong>{{post.title}}</strong></p>
            <p>{{post.contents}}</p>            
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <div class="d-grid gap-2">
                    <button class="btb btn-success mt-3 mb-5">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
            <p>
            <strong>{{comment.author}} </strong>{{comment.timeStamp}}
             {% if request.user == comment.author %}
                <a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: crimson;"><i class="fas fa-trash"></i></a>
            {% endif %}
            </p>
            <p>{{comment.comment}}</p>            
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
