{% extends 'landing/base.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
<!-- {% csrf_token %} -->
{% comment %} {% crispy form %} {% endcomment %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list'%}" class="btn btn-primary">Back to Post</a>
        </div>
    </div>
{% comment %} {% if request.user == admin %} {% endcomment %}
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <img src="{{ profile.picture.url }}" class="rounded-circle" width="100" height="100"/>
            {% if profile.name %}
            <h3 class="py-4">{{ profile.name }}
                <span>
                    {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" class="edit-colour-blue"><i class="far fa-edit"></i></a>
                    {% endif %}
                </span>
            {% else %}
            <h3>{{ user.username}}
                <span>
                    {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" class="edit-colour-red"><i class="far fa-edit"></i></a>
                    {% endif %}
                </span>
            </h3>
            {% endif %}
            </h3>
            {% if profile.birthDate %}
            <p>{{ profile.birthDate }}</p>
            {% endif %}

            {% if profile.location %}
            <p>{{ profile.location }}</p>
            {% endif %}

            {% if profile.bio %}
            <p>{{ profile.bio }}</p>
            {% endif %}
            <div class="mb-3">
                <a href="{% url 'list-followers' profile.pk %}" class="post-link">Followers: {{ number_of_followers }}</a>
            </div>                    
            {% if user == request.user %}
            {% else %}
                {% if is_following %}
                    <form Method='POST' action="{% url 'remove-follower' profile.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" type="submit">UnFollow</button>
                    </form>
                {% else %}
                    <form Method='POST' action="{% url 'add-follower' profile.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-success" type="submit">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
{% comment %} {% endif %} {% endcomment %}
{% for post in posts %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 border-bottom position-relative">
            <div>
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class="rounded-circle post-img" height=30 width=30 src="{{ post.author.profile.picture.url }}" alt="user"/>
                <p class="post-text"> 
                    <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@ {{post.author}} </a>{{post.timeStamp}}
                </p>
            </div>
            <div class="position-relative">
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-image"/>
                {% endif %}
                <p><strong>{{post.title}}</strong></p>
                <p>{{post.contents}}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>            
            </div>
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default edit-colour-blue" type="submit">
                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default edit-colour-red"type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
            </div>
    
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}
