{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-primary">Back To Feed</a>
        </div>
    </div>
    
    {% for post in post_list %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <div>
                <a href="{% url 'post-detail' post.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}"/>
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'post-detail' post.pk %}">@{{ post.author }}</a>
                </p>
            </div>
                <div class="position-relative">
                    <p><strong>{{post.title}}</strong></p>
                    <p>{{post.contents}}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>            
                    <i class="far fa-thumbs-up edit-colour-blue"> <span>{{ post.likes.all.count }}</span></i>
                </div>                
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}