{% extends 'landing/base.html' %}

{% block content %}
<div class="home-container">
<div class="container">
{% for post in post_list %}
  <div class="card">
    <div class="imgBx">
      <!-- <img src="/static/img/img1.jpg" alt="Image1"> -->
      <img src="https://source.unsplash.com/800x600/?nature" alt="Image1">
    </div>
    <div class="content">
      <h2>{{post.title}}</h2>
      <h3>{{post.author}}</h3>
      <p>{{post.contents}}</p>
    </div>
  </div>
  {% endfor %}
  {% comment %} <div class="card">
    <div class="imgBx">
      <!-- <img src="/static/img/img2.jpg" alt="Image1"> -->
      <img src="https://source.unsplash.com/800x600/?love" alt="Image1">
    </div>
    <div class="content">
      <h2>Card Two</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi itaque debitis voluptatibus reiciendis tenetur officiis accusantium tempora laboriosam exercitationem! Provident saepe nulla placeat harum consequuntur alias! Dignissimos necessitatibus autem commodi.</p>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <!-- <img src="/static/img/img3.jpg" alt="Image1"> -->
      <img src="https://source.unsplash.com/800x600/?emotions" alt="Image1">
    </div>
    <div class="content">
      <h2>Card Three</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi itaque debitis voluptatibus reiciendis tenetur officiis accusantium tempora laboriosam exercitationem! Provident saepe nulla placeat harum consequuntur alias! Dignissimos necessitatibus autem commodi.</p>
    </div>
  </div> {% endcomment %}
</div>
{% endblock content %}
